.wrapper {
    height: 120vh;
    background-image: url('/assets/img/pc/bg-pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
}

.nav--list {
    position: relative;
    top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
}

.nav--item a {
    text-decoration: none;
    color: #fff;
}

.btn--wrapper {
    margin: 0 8vw;
}

.btn--home, 
.btn--card {
    margin: 36vw 0 0 2vw;
    width: 70%;
}

.download {
    margin-top: 48vw;
}

.download img {
    width: 100%;
}

/* Animation Btn */
.img--off:hover {
    filter: brightness(1.5);
    transform: scale(1.1);
}

/* .img--on {
    filter: brightness(1.2);
} */